$primaryColor: #207355;

.ensure-safety{
    text-align: center;
    padding: 20px 80px;

    .protect-icon{
        margin: 0 auto;
        max-width: 50px;
    }

    .title{
        font-weight: 800;
        font-size: 18px;
        color: $primaryColor;
    }
}