$primaryColor: #207355;

.topbar-container{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    color: $primaryColor;
    background-color: whitesmoke;

    .left{
        display: flex;
        flex-direction: row;
        gap: 30px;

        .email-contact,.phone-contact {
            font-size: 16px;
            cursor: pointer;
            span{
                margin-left: 12px;
            }
        }

        .follow-us {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
        
            a {
                color: $primaryColor;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;      
                background: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                transition: background 0.3s;
        
                &:hover {
                    background: rgba(255, 255, 255, 0.4);
                }
            }
        }
        
    }

    .right{
        display: flex;
        flex-direction: row;
        gap: 20px;

        .user {
            font-size: 16px;
            cursor: pointer;
            span{
                margin-left: 8px;
            }
            position: relative;
        }

        .notification-icon, .support-icon{
            display: flex;
            flex-direction: row;
            text-decoration: none;
            align-items: center;
            color: #207355;

            span{
                margin-left: 8px;
            }
                
        }
    }
}