.list-brands{
    margin-top: 40px;
    border-radius: 29px;
    border: 2px solid rgba(32, 115, 53, 0.79);
    background: #FFF;
    position: relative;
}

.list-brands .content{
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 600;
    font-family: "Be Vietnam Pro";
    line-height: 48px;
    border-bottom: 2px solid rgba(32, 115, 53, 0.79);
}

.list-brands .brands{
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.list-brands .brands .brand-item{
    cursor: pointer;
}

.list-brands .brands .brand-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}